*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;

    --text-color-primary: #323238;

    --bg-color-primary: #ffffff;
    --bg-color-secondary: #000000;
}


body{
    background-color: var(--bg-color-primary);

}

.container, .changeTheme{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
   
}
.timer{
    padding-right: 25.2rem ;
}


.timerzone{
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
    
    display: flex;

    margin-bottom: 1.6rem;

    display: flex;
    margin-top: 15.4rem;
    font-size: 12.6rem;
    width: 40.1rem;
    line-height: 14.8rem;

    color: var(--text-color-primary);

    
}


.controls{
    display: flex;
    gap: 4rem;

    margin-top: 4rem;
    
}

.cards, .cards2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    padding-top: 15.6rem;
    gap: 5rem;

  }
  
  
  .cards img, .cards2 img {
    width: 13.8rem;
    
  }


 
.first-column {
    grid-column: 1/2;
}
    
.second-column {
    grid-column: 2/3;
} 

img, svg{
    cursor: pointer;
    
}

.hide{
    display: none;
}

button{
    background-color: transparent;
    border: none;
}

video{
    
  width: 100vw;
  height: 100vh; 
  object-fit: cover;
  
}

#banner1{
    
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    
    margin: 0;
    padding: 0;
    z-index: -1;
    top: 0;
    text-align: center;
    
    
}

.card{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}



.card :nth-child(2){
    width: 4rem;
    height: 4rem;
}

.card :nth-child(3){
    width: 4rem;
    height: 4rem;
}


.box-container h1{
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.theme1, .theme2{
    margin: 5rem;
    width: 50rem; 
    border-radius: 2rem;
    
}

.theme1:hover{
    border: 1px solid red;
    opacity: 0.3;
    
}

.theme2:hover{
    border: 1px solid red;
    opacity: 0.3;
   
}



.changeTheme {
    position: relative;
  }
  
  .theme1-text, .theme2-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .theme1:hover + .theme1-text {
    display: block;
  }
  
  .theme2:hover + .theme2-text {
    display: block;
  }
  
  .theme1-text, .theme2-text {
    display: none;
  }

  
  
  .light-mode, .dark-mode{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 4rem;
    margin-top: 2rem;
  }



h1{
    color: var( --text-color-primary);
}

.colorfillchange{
    fill: #9898F6;
}

.colorfill{
    fill: black;
}



.slider-cont{
    box-shadow: 0 1px 1rem 0 rgba(0, 0, 0, 0.1);
    padding-top: 3rem;
    padding-right: 2rem;
    border-radius: 5.0rem;
    display: flex;
    align-items: center;

}


.slider{
    position: relative;
    width: 30.0rem;
    height: .8rem;
}

.slider input[type="range"]{
    position: absolute;
    left: -2px;
    top: 0;
    width: 30.4rem;
    height: .8rem;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    z-index: 99;
}

.slider input::-webkit-slider-thumb{
    -webkit-appearance: none;
    margin-top: 2.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    border: 2px solid #9898F6;
    cursor: pointer;
    box-shadow: 0 0 0 1px #fff;
    border-radius: 60%;
}

.slider input::-webkit-slider-thumb:hover{
    transform: scale(1.1);
}
.slider progress{
    width: 30.0rem;
    height: .8rem;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    border-radius: .5rem;
    overflow: hidden;
}

.slider progress::-webkit-progress-bar{
    background: #7575d9;
}

.slider progress::-webkit-progress-value{
    background: #4f4fbf;
}

.sliderValue{
    font-family: "Google Sans Regular";
    width: 2.8rem;
    height: 2rem;
    letter-spacing: 0.3rem;
    margin-left: 1rem;
    text-align: center;

    display: flex;
    color: rgb(82, 65, 199);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.slider-porc{
    width: 1rem;
    display: flex;
    color: rgb(82, 65, 199);
    margin-bottom: 0.7rem;
}

.home{
    width: 5rem;
    margin-top: 1rem;
    margin-left: 1.5rem;
}

@media (max-width: 600px){

   
    body{
        width: 30rem;
        
    }
    .home{
        margin-left: 1rem;
    }

    .box-container{
        width: 100%
    }

    .theme1, .theme2 {
        width: 35rem;
        
    }


    .title-theme{
        font-size: 1.3rem;
       
    }

    header{
        display: flex;
        align-items: center;
        
    }

    .title-theme{
        display: none;
    }

    .title-theme-mobile{
        display: initial;
        text-align: center;
        padding-left: 5rem;
    }

    .light-mode, .dark-mode{
        margin-left: 5rem;
    }

    .container{
        width: 50rem;
        justify-content: left;
    }

    .timer{
        width: 1rem;
        padding-right: 5rem;

        
    }

    .controls{
        width: 5rem;
    }

    .cards, .cards2{
        width: 10rem;
    }

    .cards img, .cards2 img {
        width: 8.8rem;
        
    }

    

    .cards2{
        gap: 2rem;
       
    }

    

    .card:nth-child(2){
        width: 22rem;
    }

    #forest{
        width: 10rem;
    }
    #rain{
        width: 10rem;
    }
    #market{
        width: 10rem;
    }
    #fire{
        width: 10rem;
    }


    .slider{
        padding-bottom: 4rem;
    }

   
    

      .timerzone{
        
        font-size: 1rem;
        display: flex;
        margin-bottom: 1.6rem;
        font-size: 5.6rem;
        width: 40.1rem;
        line-height: 3.8rem; 
        
    }

    .controls{
        gap: 1rem;
        
    }

    .controls svg{
        width: 3rem;
    }

    .timer{
        margin-right: 15.2rem ;
    }
}